.container {
  height: calc(100vh - 6.875rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 48rem) {
  .container {
    height: calc(100vh - 4.661rem);
  }
}
