.container {
  padding: 1rem;
}

.header {
  margin: 0 auto 1rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

.title {
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.orderContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.orderDetails {
  margin-bottom: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.addressContainer,
.paymentContainer {
  flex: 1;
  padding: 1rem;
}

.paymentContainer {
  padding-top: 0;
}

.addressTitle,
.paymentTitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.addressDetail,
.paymentDetail {
  font-size: 0.875rem;
  line-height: 20px;
}

.deliveryStatus {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--red);
  border-radius: 0.25rem;
  background-color: var(--lightred);
}

.paymentStatus {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--green);
  border-radius: 0.25rem;
  background-color: var(--lightgreen);
}

.order {
  padding: 1rem;
  border: 1px solid red;
}

.aside {
  width: 100%;
  padding: 1rem;
  border: 1px solid red;
}

@media (min-width: 48rem) {
  .header {
    max-width: 90vw;
  }

  .title {
    font-size: 1.875rem;
  }

  .content {
    margin: 0 auto;
    max-width: 90vw;
    flex-direction: row;
  }

  .orderContainer {
    margin-right: 1rem;
  }

  .orderDetails {
    flex-direction: row;
  }

  .paymentContainer {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .paymentDetail {
    flex: 1;
  }

  .aside {
    max-width: 14.5rem;
  }
}
