.container {
  padding: 1rem;
}

.header {
  margin: 0 auto 1rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

.title {
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.orderContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.orderDetails {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid red;
}

.order {
  padding: 1rem;
  border: 1px solid red;
}

.aside {
  width: 100%;
  padding: 1rem;
  border: 1px solid red;
}

@media (min-width: 48rem) {
  .header {
    max-width: 90vw;
  }

  .title {
    font-size: 1.875rem;
  }

  .content {
    margin: 0 auto;
    max-width: 90vw;
    flex-direction: row;
  }

  .orderContainer {
    margin-right: 1rem;
  }

  .aside {
    max-width: 14.5rem;
  }
}
