.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.ad {
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

.header {
  padding: unset;
}

.title {
  font-weight: 400;
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.paypalLogo {
  width: 7.75rem;
  margin-left: 1rem;
}

.stripeLogo {
  width: 6.25rem;
}

.button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: var(--yellow);
}

@media (min-width: 48rem) {
  .container {
    max-width: 33.75rem;
  }
  .header {
    max-width: 90vw;
  }

  .button {
    width: fit-content;
  }
}
