.container {
  padding: 1rem;
}

.back {
  display: block;
  width: fit-content;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--yellow);
  cursor: pointer;
}

.content {
  margin: 1rem 0;
}

.image {
  width: 100%;
}

.error,
.loading {
  margin-top: 4rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .content {
    max-width: 90rem;
    margin: 4rem auto;
    display: flex;
    align-items: flex-start;
  }

  .image {
    width: 15vw;
  }
}
