.container {
  min-height: 100vh;
}

.content {
  padding: 1rem;
}

.title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.label {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
}

.input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  line-height: 20px;
}

.disclaimer {
  font-size: 0.75rem;
  font-weight: normal;
}

.button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  line-height: 20px;
  background-color: var(--yellow);
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .content {
    margin: 0 auto;
    max-width: 33.75rem;
  }
}
