.container {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  margin-bottom: 1rem;
}

.textContainer {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.text span {
  font-weight: bold;
  color: var(--blue);
}

@media (min-width: 48rem) {
  .container {
    max-width: 90vw;
    padding: 1rem;
    margin: 0 auto 1rem auto;
  }
}
