.container {
  margin: 1rem 0;
}

.image {
  width: 100%;
}

.title {
  font-weight: 500;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.price {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--red);
}

.description {
  margin: 0.5rem 0;
}

@media (min-width: 48rem) {
  .container {
    max-width: 90rem;
    margin: 4rem auto;
    display: flex;
    align-items: flex-start;
  }

  .image {
    max-width: 15rem;
  }
}
