.title {
  font-weight: 500;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.price {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--red);
}

.description {
  margin: 0.5rem 0;
}

@media (min-width: 48rem) {
  .container {
    margin: 0 1rem;
  }

  .title {
    margin: 0 0 0.5rem;
  }
}
