.container {
  height: auto;
  margin-bottom: -5vh;
}

@media (min-width: 64rem) {
  .container {
    margin-bottom: -20vh;
  }
}

@media (min-width: 90rem) {
  .container {
    margin-bottom: -30vh;
  }
}
