:root {
  --lightyellow: #f4d381;
  --yellow: #febd69;
  --darkyellow: #f59e0b;
  --dark-blue: #131921;
  --lightgray: #f3f4f6;
  --gray: #eaeded;
  --darkgray: #9ca38f;
  --blue: #0087b8;
  --darkblue: #1d4ed8;
  --lightred: #fca5a5;
  --red: #b12704;
  --lightgreen: #6ee7b7;
  --green: #067d62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', monospace; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a,
a:active {
  text-decoration: none;
  color: #000;
}
